.logo {
    padding-left: 210px;
}

.mainbg {
    background: #f5f5f5 url("assets/bg1.png") no-repeat top center;
    background-size: 1440px 800px;
}

.time {
    padding-left: 238px;
}

.upperinfo {
    padding-top: 26px;
}